#chat-screen {
  background-color: #abc1d1;
  height: 500vh;
  /* 스크롤 가능한 화면으로 만들기 위해 */
}

#chat-screen .status-bar,
#chat-screen .alt-header {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: #abc1d1;
}

#chat-screen .status-bar {
  z-index: 2;
}

#chat-screen .alt-header {
  top: 10px;
  z-index: 1;
}

@keyframes fadeIn {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.6s linear;
}
/* position: fixed와 z-index를 통해, 
   이제 status-bar와 header, main-chat은 
   각각 다른 layer에 존재하게 됨.
   즉, status-bar와 header가 main-chat을 덮고 있음.*/

.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 15px;
  font-size: 14px;
  border-radius: 25px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin-right: 10px;
}

.message__author {
  margin-bottom: 8px;
  display: block;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__bubble {
  background-color: white;
  padding: 11px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 5px;
  font-size: 18px;
}

.message__time,
.message__author {
  font-size: 14px;
  opacity: 0.8;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  margin-right: 0;
  margin-left: 5px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  align-items: center;
}

.reply i {
  opacity: 0.5;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply input {
  height: 30px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}
/* column에 먼저 width를 주어야 input에 width를 줄 수 있음!*/

.reply__column:last-child > i,
.reply__column button {
  position: absolute;
  right: 4px;
  top: 3px;
}

.reply__column:last-child > i {
  right: 40px;
  top: 15px;
}

.reply__column button {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.reply__column button i {
  opacity: 1;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply .reply__column:first-child,
.reply .fa-smile,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

/*focus-within*/
.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile,
.reply:focus-within button {
  opacity: 0;
}

.reply input:focus {
  width: 91vw;
  transform: translateX(-11%);
}
/*reply 내부에 어떤  element가 focus되어 있다면, 일어남*/
